<div class="row">
  <!--En pantallas medianas cada columna ocupa 3/12 columnas creadas-->
  <!--En pantallas pequeñas cada columna ocupa 6/12 columnas creadas-->
  <div class="col-md-3 col-sm-6">
    <div class="card mb-2 text-center bg-primary">
      <!--TODO: Crear Imagen-->
      <div class="card-body">
        <p class="card-text text-white">
          Hola mundo!
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card mb-2 text-center bg-success">
      <!--TODO: Crear Imagen-->
      <div class="card-body">
        <p class="card-text text-white">
          Hola mundo!
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card mb-2 text-center bg-info">
      <!--TODO: Crear Imagen-->
      <div class="card-body">
        <p class="card-text text-white">
          Hola mundo!
        </p>
      </div>
    </div>
  </div>




</div>
